# Copia este archivo a `.env.local` y completa los valores
NEXT_PUBLIC_SUPABASE_URL=https://epyxykoaeaswfkeoqxpr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVweXh5a29hZWFzd2ZrZW9xeHByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc5MzUwODQsImV4cCI6MjA2MzUxMTA4NH0.aDMDLLQqYcGzgAMdLy0IoBK5WdzUzgvLwXdJ8yng0Q0
